@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
}

.profile-dropdown-list {
  @apply px-2 my-4 opacity-85 hover:opacity-100 hover:cursor-pointer hover:transition ease-in-out duration-100 flex items-center;
}

.slide-enter {
  @apply transform translate-y-full opacity-0;
}

.slide-enter-active {
  @apply transform translate-y-0 opacity-100 transition-all duration-500 ease-in-out;
}

.slide-exit {
  @apply transform translate-y-0 opacity-100;
}

.slide-exit-active {
  @apply transform translate-y-full opacity-0 transition-all duration-500 ease-in-out;
}

@layer components {
  .flexcenter {
    @apply flex items-center justify-center;
    /*display: flex;
      justify-content: center;
      align-items: center;
    */
  }
  .margincenter {
    @apply mx-auto my-0;
    /*margin: 0 auto;
    */
  }
  .flexcenter {
    @apply flex flex-wrap;
    /*display: flex;
      flexwrap: wrap;
    */
  }
}
